[Unit]
Description=Beeper profile server

[Service]
ExecStart=/home/ubuntu/.beeper/bin/beeper-server --host=127.0.0.1 --port=23374 --data-dir=/home/ubuntu/.beeper/profiles/server/server --server-env=production --transport-nonce=${BEEPER_TRANSPORT_NONCE}
Restart=always
RestartSec=3
Environment=BEEPER_SERVER_DATA_DIR=/home/ubuntu/.beeper/profiles/server/server
EnvironmentFile=/home/ubuntu/.config/beeper-server.env
StandardOutput=append:/home/ubuntu/.beeper/logs/profiles/server.log
StandardError=append:/home/ubuntu/.beeper/logs/profiles/server.err.log

[Install]
WantedBy=default.target
